.validation-message {
    color: var(--ps-invalid-field-color);
    margin: 0px !important;
    font-size: 0.7em;
    padding-top: 0.3em;
    padding-inline-start: 20px;
}

.disableContent {
    pointer-events: none;
    opacity: 0.6;
}

.dim-content {
    opacity: 0.6;
}